// Add your custom CSS here.
.footer {
    background: #c20c2e;
    border-top: 0;
    * {
        color: #fff
    }
    .i-chevron-right {
        display: none;
    }
    a:hover {
        text-decoration: none;
        color: #fff
    }
}
.products-carousel__title {
    font-weight: 500;
    font-size: 34px;
    color: #4972b2;
    text-transform: uppercase;
    line-height: 30px;
    border-bottom: 2px dotted #4972b2;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    &::before {
        background: none
    }
}
.header__submenu * {
    font-size: var(--font-size-sm)
}
.header__submenu {
max-width: none;
min-width: 100%;
left: 0%;
gap: var(--spacer-1);
margin-top: var(--spacer-2);
grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
}

@media(min-width: 767px) {
#header, .header__container {
    padding: 0;
    margin-bottom: 0;
    background: #fff;
    max-width: 100%;
  }
  .header__row {
    padding: 0;
    width: 100%;
    margin: 0;
    .order-lg-last {
      padding-right: 15px;
    }
  }
  #menu-desk {
    background: #c20c2e;
    color: #fff;
    padding: 5px 5px 20px 5px;;
    .header__category {
        color: #fff;
        &:hover {
          background: none;
        }
      }
  }
}
.header__nav--full a {
  margin-top: 0;
}
.menu__list a {
  color: #fff
}
#categories-nav {
        background: #c20c2e;
    color: #fff;
    }
 #search-form {
    border: 1px solid #c20c2e;
  }
  .menu__item-icon img {
    //width: 1rem;
  }
  #c-62868608df4d8071c91564ab, #c-62868617df4d8071c91564eb, #c-6286860adf4d8071c91564b7, #c-6286860ddf4d8071c91564c2, #c-62868605df4d8071c915649f, #c-62868606df4d8071c91564a6, #c-62868607df4d8071c91564a8, #c-6286860cdf4d8071c91564bd, #c-6286860edf4d8071c91564c5, #c-6286860fdf4d8071c91564ca, #c-62868610df4d8071c91564cd, #c-62868609df4d8071c91564b1 {
    display: none;
  }
  .product-card__name {
    --max-lines: 4;
    text-align: center;
    color: #a8a6a6;
  }
  .product-card__prices {
    color: #c20c2e;
    text-align: center;
font-weight: 600;
  }
  
@media(min-width: 576px) {
  .header__logo {
    max-height: 100px;
  }
  #user-button {
    background-color: #f1f1f1;
    padding: 5.5px 20px;
    color: #000000ff;
    small {
      display: inline-block !important;
    }
  }
  #fav-button, #cart-button, .header__search-btn i {
    color: #000000ff;
  }
  #search-form {
    border-radius: 8px;
  }
  #search-input {
    background-color: #f1f1f1;
  }
}
#fav-button, #cart-button, .header__search-btn i, #user-button, #mobile-search-btn i, .header__toggler-icon {
  color: #000000ff;
}