// Add your custom CSS here.
.footer {
    background: #c20c2e;
    border-top: 0;
    * {
        color: #fff
    }
    .i-chevron-right {
        display: none;
    }
    a:hover {
        text-decoration: none;
        color: #fff
    }
}
.products-carousel__title {
    font-weight: 500;
    font-size: 34px;
    color: #4972b2;
    text-transform: uppercase;
    line-height: 30px;
    border-bottom: 2px dotted #4972b2;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    &::before {
        background: none
    }
}
.header__submenu * {
    font-size: var(--font-size-sm)
}
@media(min-width: 767px) {
#header, .header__container {
    padding: 0;
    margin-bottom: 0;
    background: #fff;
    max-width: 100%;
  }
  .header__row {
    padding: 0;
    width: 100%;
  }
  #menu-desk {
    background: #c20c2e;
    color: #fff;
    padding: 10px;
    .header__category {
        color: #fff
      }
  }
    #categories-nav {
        background: #c20c2e;
    color: #fff;
    }
    
 
}
 #search-form {
    border: 1px solid #c20c2e;
  }
  .menu__item-icon img {
    //width: 1rem;
  }
  .header__nav--full div:not(:first-child) .header__submenu {
    margin-left: -240px;
    grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
  }
  .header__nav--full div:not(:first-child) .header__submenu::after {
    left: 240px;
  }
  
